<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>XmasCookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav>
    <div class="go-left">
      <h1>Xmas Cookbook</h1>
    </div>
    <div class="go-right">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/ingredients">Ingredients</a></li>
      </ul>
    </div>  
  </nav>

</header>
<body>


  <%= yield %>

</body>
</html>
